<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<script>

var arr = [];



var strarr= [
    {type: 0,msg:1},
    {type: 1,msg:0},
    {type: 0,msg:1},
    {type: 1,msg:0},
    {type: 0,msg:1},
    {type: 1,msg:0},
    {type: 0,msg:1},
    {type: 1,msg:0},
    {type: 0,msg:1},
    {type: 1,msg:0},
    
]
window.onload = function () {
    var newarr = []
    for(let i = 0 ;i < strarr.length; i++){
            if (strarr[i].type==0) {
                newarr.push(strarr[i].msg)
            }else if (strarr[i].type==1) {
                newarr.push(strarr[i].msg)
            }
    }
    console.log(newarr);
    
}

</script>

